
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
      {% for row in data %}
    <tr>
      <th scope="row">{{row.symbol}}</th>
      <td>{{row.name}}</td>
      <td>{{row.shares}}</td>
      <td>{{row.price}}</td>
      <td>{{row.total}}</td>
    </tr>
    {% endfor %}
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>{{grandtotal}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}



