.card img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 1rem;
  }

/* body {
    background-color: brown;
} */

